@font-face {
    font-family: Circle;
    src: url(./fonts/Circe/Circe-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url(./fonts/Gilam/GilamRegular.otf);
    font-style: normal;
    font-weight: normal;
}

.background_main {
    background-color: #171717;
}

.background_alternative {
    background-color: #0E0E0E;
}

.button_style {
    line-height: 50px;
    font-family: Circle;
    font-size: 18px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid;
    color: #E4B564;
}

h1,
h2 {
    line-height: 28px;
    font-family: Gilam;
    font-weight: 700;
    font-size: 50px;
    color: white;
}


.container_header {
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button_connection {
    padding: 10px 26px;
    line-height: 30px;
}

.button_connection_logo {
    padding-right: 10px;
}

.section_activity {
    max-width: 1460px;
    margin: 0 auto;
    padding-bottom: 161px;
    }

.about_activity {
    padding: 41px 0px;
    line-height: 28px;
    font-family: Gilam;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.container_activity_portfolio {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 1fr);
    justify-items: right;
    column-gap: 25px;
    row-gap: 27px;
    grid-template-areas:
        "offer_1 offer_1 offer_2 offer_2 offer_3 offer_3"
        "offer_4 offer_4 offer_4 offer_5 offer_5 offer_5";
}

.portfolio_offer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 9%;
}

.portfolio_offer a {
    font-family: Gilam;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.offer_1 {
    grid-area: offer_1;
    max-width: 467px;
    justify-self: stretch;
    background-color: #634F2C;
}

.offer_2 {
    grid-area: offer_2;
    max-width: 467px;
    background-color: #B4A385;
}

.offer_3 {
    grid-area: offer_3;
    max-width: 467px;
    justify-self: stretch;
    background-color: #E4B564;
}

.offer_4 {
    grid-area: offer_4;
    max-width: 715px;
    justify-self: stretch;
    background-color: #635A4A;
}

.offer_5 {
    grid-area: offer_5;
    max-width: 715px;
    justify-self: stretch;
    background-color: #B08C4D;
}

.section_transport {
    max-width: 1460px;
    padding-bottom: 191px;
    margin: 0 auto;
}

.container_transport_portfolio {
    padding-top: 94px;
    display: grid;
    grid-auto-rows: minmax(1fr, auto);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    grid-template-areas:
        "transp_1 transp_2 transp_3"
        "transp_1 transp_2 transp_3"
        "transp_1 transp_2 transp_6"
        "transp_4 transp_2 transp_6"
        "transp_4 transp_2 transp_6"
        "transp_4 transp_2 transp_6"
        "transp_4 transp_5 transp_6"
        "transp_4 transp_5 transp_7"
        "transp_4 transp_5 transp_7";
}

.portfolio_transport {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    font-family: Gilam;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.portfolio_transport b {
    font-weight: 700;
}

.transp_1 {
    grid-area: transp_1;
    height: 313px;
    background-color: #0E0E0E;
    box-sizing: border-box;
}

.transp_2 {
    grid-area: transp_2;
    height: 439px;
    background-color: #242424;
    box-sizing: border-box;
}

.transp_3 {
    grid-area: transp_3;
    height: 255px;
    background-color: #1F1F1F;
    box-sizing: border-box;
}

.transp_4 {
    grid-area: transp_4;
    height: 560px;
    background-color: #1F1F1F;
    box-sizing: border-box;
}

.transp_5 {
    grid-area: transp_5;
    height: 405px;
    margin-bottom: 15px;
    background-color: #E4B564;
    box-sizing: border-box;
}

.transp_5 span {
    color: black;
}

.transp_6 {
    grid-area: transp_6;
    height: 313px;
    background-color: #0E0E0E;
    box-sizing: border-box;
}

.transp_7 {
    grid-area: transp_7;
    height: 277px;
    background-color: #0A0909;
    box-sizing: border-box;
}

.container_clients {
    background-color: #0E0E0E;
}

.section_clients{
    max-width: 1460px;
    padding-top: 172px;
    margin: 0 auto;
}

.all_projects {
    padding-bottom: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button_projects {
    padding: 10px 40px;
    line-height: 30px;

}

.container_clients_portfolio {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "client_1 client_2 client_3"
        "client_4 client_5 client_6";
    cursor: pointer;
}

.client_1 {
    grid-area: client_1;
    background-color: #634F2C;
}

.client_2 {
    grid-area: client_2;
    background-color: #E8D2AB;
    padding: 0px 10%;
    line-height: 28px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Circle;
    font-size: 22px;
    font-weight: 400;
}

.client_2 b {
    font-weight: 600;
}

.client_3 {
    grid-area: client_3;
    background-color: #E4B564;
}

.client_4 {
    grid-area: client_4;
    background-color: #635A4A;
}

.client_5 {
    grid-area: client_5;
    background-color: #B08C4D;
}

.client_6 {
    grid-area: client_6;
    background-color: #634F2C;
}

.portfolio_clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    padding: 119px 0px;
    max-width: 1460px;
    margin: 0   auto;
}